*.vim
.swp
.*.sw*
*.log
*.pid
*.cache
public/test
config/database.yml
tmp/**/*
db/*.sqlite3
doc/api
doc/plugins
doc/app
public/stylesheets/application.css
public/xml
public/images/drawings
public/uploaded_images
public/test
log/
tmp/restart.txt
public/stylesheets/compiled
nbproject/
data_store
.DS_Store
coverage/
Gen/
Debug/
Build/
